@import url("chat_to_import.css");

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 10px 10px;
    
}

body {
    background-image: url(../img/india.png);
    background-size: cover;
    height: 100vh;
}
h1 {
    font-size: 40px;
}

.consult_params ul {
    list-style: none;
}

.consult_params ul li {
    display: inline-block;
}

button {
    background-color: orangered;
    border-radius: 25%;
}

.consult_results {
    text-align: center;
}

.consult_results table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid navajowhite;
    background-color: seagreen;
}

.consult_results th {
    background-color: navajowhite;
    border: 2px solid blue;
}

.consult_results tr {
    text-align: center;
}

.consult_results td {
    background-color: azure;
    border: 2px solid blue;
    padding: 10px 10px;
}

.download_app h1 {
    font-size: 20px;
    text-align: unset;
    padding: unset;

}

.download_app ul li p {
    font-size: 14px;
}

.download_app img {
    width: 100px;
    border-radius: 25%;
    height: 50px;
}

.download_app ul {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    float: right;
    margin-top: 350px;
}

.download_app ul li {
    display: block;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    visibility: hidden;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }