* {
    margin: 0;
    text-align: center;    
}

header {
    height: 100vh;
    background-color: aquamarine;    
}

.information {
    font-size: 2em;
    position: relative;
    top: 5em;
}

input {
    font-size: 1em;
    padding: 0.1em;
}

button {
    padding: 1em;
    border-radius: 10%;
    font-size: 0.5em;
}

button:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}